body{
  color: #40414E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  color: #66BFBF;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
p{
  line-height: 2
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;

}
.chilli-img{
  width: 25%;
  float: right;
  margin-left: 30px

}
/* .code-skill-description{
  clear: left;
}
.chilli-description{
  clear: right;

} */
.intro{
  width: 30%;
  margin: auto;
}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  /* width: 200px;
  height: 200px;
  border: solid 10px;
  padding: 20px; */
}
.middle-container{
  /* background-color: red;
  width: 200px;
  height: 200px; */
  /* border: solid 20px;
  margin-left: 259px; */
  margin: 100px 0;
}
.bottom-container{
  /* background-color: blue;
  width: 200px;
  height: 200px; */
  /* border: solid 10px;
  margin-left: 499px; */
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.pro{
  text-decoration: underline;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
    right: 300px;
    top: 40px;

}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0; 
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
